# Repositories & files to ignore with IntelliJ
/.idea/
/apache-tomee-plus-7.1.0/
/lib/
/out/
/target/
_config.yml
LinkedAMU.iml

# Repositories & files to ignore with Eclipse
/.metadata/
/.settings/
/.metadata/
/.git/
/build/
/target/
.classpath
.project
.tern-project
