# Repositories & files to ignore with IntelliJ
/.idea/
/lib/
/out/
/target/
_config.yml
LinkedAMU.iml

# Repositories & files to ignore with Eclipse
/.metadata/
/.settings/
/build/
/target/
.classpath
.project
.tern-project
